.undefined {
	display: none;
}
.hideme{
    opacity:0;
}
.navbar-nav {
	font-size: 16px;
}
.navbar-brand {
	font-size: 18px;
}
.software {
	cursor: pointer;
}
.sorting_2 {
	display: none;
}
#sorter, #pubTable_filter {
	margin-bottom: 10px;
}
thead {
	display: none;
}
#pubTable_filter input{
	width: 100%;
	border-radius: 10px;
	height: 60px;
	border: 1px solid #ccc;
	background: #eee;
	line-height: 50px;
	font-size: 50px;
	color: #777;
	padding: 10px;
}
#pubTable_filter input:focus{
	outline: none;
}
#external-pubs {
	height:40px;
	border: 1px solid #c9302c;
	border-radius: 5px;
}
#scholar, #dblp {
	display: inline-block;
	width: 50%;	
	text-align:center;
	height: 100%;
	line-height: 40px;
	color: #c9302c;
	font-size: 24px;
	font-weight: lighter;
	transition: 0.35s all ease-in-out;
	-webkit-transition: 0.35s all ease-in-out;
	-moz-transition: 0.35s all ease-in-out;
	-ms-transition: 0.35s all ease-in-out;
	-o-transition: 0.35s all ease-in-out;
}
#scholar:hover, #dblp:hover {
	background-color: #c9302c;
	color: #fff;
}
#dblp {
	border-left: 1px solid #c9302c;
	float:right;
}
h4 li {
	margin: 10px 0px;
}